@model ErrorViewModel

@{
    Layout = null;
    if (!Context.Response.HasStarted)
    {
        try
        {
            var options = new Microsoft.AspNetCore.Http.CookieOptions { Path = "/" };
            Context.Response.Cookies.Delete("Kanflow.Auth", options);
            Context.Response.Cookies.Delete("Kanflow.Antiforgery", options);
            Context.Response.Cookies.Delete("X-XSRF-TOKEN", options);
        }
        catch
        {

        }
    }
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            background: #0000AA;
            color: #FFFFFF;
            font-family: "Lucida Console", "Courier New", monospace;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .bsod-title {
            background: #C0C0C0;
            color: black;
            display: inline-block;
            padding: 5px 12px;
            font-size: 30px;
            margin-bottom: 30px;
            font-weight: bold;
        }

    </style>
</head>
<body>
    <div style="padding:20px" class="bsod-box">
        <div class="bsod-title">Error - @Model.ErrorCode</div>

        <div style=" font-size: 18px; line-height: 1.6; margin-bottom: 30px;" class="bsod-text">
            @Model.Message
        </div>

        <div style="margin-top: 20px;">
            <a style=" color: #FFFFFF; text-decoration: underline; cursor: pointer; margin-right: 20px;" class="bsod-link" href="/">main</a>
        </div>
    </div>
</body>
</html>